.all_buttons{
    margin: 5px;
}

.all_rows{
 margin-top: 20px;
}
.button_row{
    text-align: center;
}

.city_state_zip{

}


.marker_container{
    margin-top: 200px;
}

.name_row{

}

.street_row{

}

.title_row{
    padding:0px;
}

